<lib-ngx-forms>

  <lib-no-question>
    <p questionTitle>
      Hello World!
    </p>
    This is A No Question Card.
  </lib-no-question>

  <lib-phone-input-question [libNgxValidators]="[[Validators.required], [Validators.required]]"
    [placeholder]="'12345678901'">
    <p questionTitle>
      What is your Phone Number?
    </p>
    This is A Phone Number Question Card.
  </lib-phone-input-question>

  <lib-email-input-question
    [libNgxQuestionInvalid]="{email: 'Your Email does not Look like an Email Address', required: 'We realy need to know your Email!'}"
    [libNgxValidators]="[Validators.required, Validators.email]" [placeholder]="'example@mail.com'">
    <p questionTitle>
      What is your Email?
    </p>
    This is An Email Question Card.
  </lib-email-input-question>

  <!-- <lib-boolean-choice-question>
    <p questionTitle>
      Is not 'Ngx Forms' Cool?
    </p>
    This is Boolean Choice Question
  </lib-boolean-choice-question> -->

  <lib-single-choice-question [libNgxValidators]="[Validators.required]">
    <p questionTitle>
      Pick one of your Favorite.
    </p>
    This is a Single Choice Question.

    <div questionChoices>
      <lib-question-choice>
        <p libQuestionChoiceValue>
          Video Games
        </p>
      </lib-question-choice>
      <lib-question-choice>
        <p libQuestionChoiceValue>
          Applications
        </p>
      </lib-question-choice>
      <lib-question-choice>
        <p libQuestionChoiceValue>
          Artificial Intelligence
        </p>
      </lib-question-choice>
    </div>
  </lib-single-choice-question>

  <lib-multiple-choice-question [libNgxValidators]="[Validators.requiredOneSelection()]">
    <p questionTitle>
      Pick all your favorites.
    </p>
    This is a Multiple Choice Question.

    <div questionChoices>
      <lib-question-choice>
        <p libQuestionChoiceValue>
          Cats
        </p>
      </lib-question-choice>
      <lib-question-choice>
        <p libQuestionChoiceValue>
          Dogs
        </p>
      </lib-question-choice>
      <lib-question-choice>
        <p libQuestionChoiceValue>
          Mushrooms
        </p>
      </lib-question-choice>
    </div>
  </lib-multiple-choice-question>

  <lib-text-question [libNgxValidators]="[Validators.required]">
    <p questionTitle>
      Tell us what are you thinking?
    </p>
    This is a Text Question. A Multiple Line Text Input.
  </lib-text-question>

  <lib-input-question [libNgxValidators]="[Validators.required]">
    <p questionTitle>
      What is your Name?
    </p>
    This is an Input Question. A single Line Text Input.
  </lib-input-question>

</lib-ngx-forms>