<lib-ngx-forms>

  <lib-boolean-choice-question>
    <p questionTitle>
      This is Question Title Projected Content
    </p>
    This is Default Projected Content
  </lib-boolean-choice-question>

  <lib-no-question>
    <p questionTitle>
      This is Question Title Projected Content
    </p>
    This is Default Projected Content
  </lib-no-question>

  <lib-multiple-choice-question>
    <p questionTitle>
      This is Question Title Projected Content
    </p>
    This is Default Projected Content

    <div questionChoices>
      <lib-question-choice>
        <p libQuestionChoiceValue>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque, dolore odio consectetur minima quia
          dignissimos deserunt nulla? Ipsa fuga quis alias nihil minus temporibus quibusdam quasi voluptatum, repellat
          necessitatibus modi.
        </p>
      </lib-question-choice>
      <lib-question-choice>
        <p libQuestionChoiceValue>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque, dolore odio consectetur minima quia
          dignissimos deserunt nulla? Ipsa fuga quis alias nihil minus temporibus quibusdam quasi voluptatum, repellat
          necessitatibus modi.
        </p>
      </lib-question-choice>
      <lib-question-choice>
        <p libQuestionChoiceValue>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque, dolore odio consectetur minima quia
          dignissimos deserunt nulla? Ipsa fuga quis alias nihil minus temporibus quibusdam quasi voluptatum, repellat
          necessitatibus modi.
        </p>
      </lib-question-choice>
    </div>
  </lib-multiple-choice-question>

  <lib-no-question>
    <p questionTitle>
      This is Question Title Projected Content
    </p>
    This is Default Projected Content
  </lib-no-question>

  <lib-single-choice-question>
    <p questionTitle>
      This is Question Title Projected Content
    </p>
    This is Default Projected Content

    <div questionChoices>
      <lib-question-choice>
        <p libQuestionChoiceValue>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque, dolore odio consectetur minima quia
          dignissimos deserunt nulla? Ipsa fuga quis alias nihil minus temporibus quibusdam quasi voluptatum, repellat
          necessitatibus modi.
        </p>
      </lib-question-choice>
      <lib-question-choice>
        <p libQuestionChoiceValue>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque, dolore odio consectetur minima quia
          dignissimos deserunt nulla? Ipsa fuga quis alias nihil minus temporibus quibusdam quasi voluptatum, repellat
          necessitatibus modi.
        </p>
      </lib-question-choice>
      <lib-question-choice>
        <p libQuestionChoiceValue>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque, dolore odio consectetur minima quia
          dignissimos deserunt nulla? Ipsa fuga quis alias nihil minus temporibus quibusdam quasi voluptatum, repellat
          necessitatibus modi.
        </p>
      </lib-question-choice>
    </div>
  </lib-single-choice-question>

  <lib-no-question>
    <p questionTitle>
      This is Question Title Projected Content
    </p>
    This is Default Projected Content
  </lib-no-question>

  <lib-text-question>
    <p questionTitle>
      This is Question Title Projected Content
    </p>
    This is Default Projected Content
  </lib-text-question>

  <lib-no-question>
    <p questionTitle>
      This is Question Title Projected Content
    </p>
    This is Default Projected Content
  </lib-no-question>

  <lib-input-question>
    <p questionTitle>
      This is Question Title Projected Content
    </p>
    This is Default Projected Content
  </lib-input-question>

  <lib-no-question>
    <p questionTitle>
      This is Question Title Projected Content
    </p>
    This is Default Projected Content
  </lib-no-question>

  <lib-single-choice-question>
    <p questionTitle>
      This is Question Title Projected Content
    </p>
    This is Default Projected Content
  </lib-single-choice-question>

  <lib-no-question>
    <p questionTitle>
      This is Question Title Projected Content
    </p>
    This is Default Projected Content
  </lib-no-question>

</lib-ngx-forms>